<view class="page" wx:if="{{questionList.length}}">
  <!-- 语音，中文，英文排列组合 -->
  <!--标题-->
  <view class='page__hd'>
    <view class="page__title" wx:if="{{questionList[shuffleIndex[index]].type==0}}">
      {{questionList[shuffleIndex[index]].question}}
    </view>
    <view class="page__title" wx:if="{{questionList[shuffleIndex[index]].type==1}}">
      {{questionList[shuffleIndex[index]].question}}
    </view>
    <view class="page__title" wx:if="{{questionList[shuffleIndex[index]].type==2}}">
      {{questionList[shuffleIndex[index]].question}}
    </view>
    <view class="page__title" wx:if="{{questionList[shuffleIndex[index]].type==3}}">
      <view style="display:inline-block;font-size: 40rpx;" catchtap="play_audio" data-word="{{questionList[shuffleIndex[index]].question}}">
        播放声音
        <image style="width:35rpx;height:35rpx" src="./laba.svg"></image>
      </view>
    </view>
    <view class="page__title" wx:if="{{questionList[shuffleIndex[index]].type==4}}">
      <view style="display:inline-block;font-size: 40rpx;" catchtap="play_audio" data-word="{{questionList[shuffleIndex[index]].question}}">
        播放声音
        <image style="width:35rpx;height:35rpx" src="./laba.svg"></image>
      </view>

    </view>
    <view class="page__title" wx:if="{{questionList[shuffleIndex[index]].type==5}}">
      {{questionList[shuffleIndex[index]].question}}
    </view>

  </view>
  <!--内容-->
  <view class="page__bd">
    <radio-group class="radio-group" bindchange="radioChange">
      <block wx:if="{{show_style}}">
        <label class="radio my-choosebox {{questionList[shuffleIndex[index]]['answer'] == key?'green':'red'}}" wx:for="{{questionList[shuffleIndex[index]].option}}" wx:for-index="key" wx:for-item="value">
          <!-- style="transform:scale(0.8);" -->
          <radio style="margin-left: 0;margin-right: 20rpx;" disabled value="{{key}}" checked="{{history[index].ck==key}}"></radio>
          <block wx:if="{{questionList[shuffleIndex[index]].type==0}}">
            <view style="display:inline-block;margin-left: 10px; font-size: 40rpx;" catchtap="play_audio" data-word="{{value.sentenceEn}}">
              播放声音
              <image style="width:35rpx;height:35rpx" src="./laba.svg"></image>
            </view>
            <!-- {{value.sentenceEn}} -->
          </block>
          <block wx:if="{{questionList[shuffleIndex[index]].type==1}}">
            <view style="display:inline-block;margin-left: 10px; font-size: 40rpx;" catchtap="play_audio" data-word="{{value.sentenceEn}}">
              播放声音
              <image style="width:35rpx;height:35rpx" src="./laba.svg"></image>
            </view>
            <!-- {{value.sentenceEn}} -->

          </block>

          <block wx:if="{{questionList[shuffleIndex[index]].type==2}}">
            <!-- <view style="display:inline-block;margin-left: 10px; font-size: 40rpx;" catchtap="play_audio" data-word="{{value.sentenceEn}}">
              播放声音
              <image style="width:35rpx;height:35rpx" src="./laba.svg"></image>
            </view> -->
            {{value.sentenceEn}}
          </block>
          <block wx:if="{{questionList[shuffleIndex[index]].type==3}}">
            <!-- <view style="display:inline-block;margin-left: 10px; font-size: 40rpx;" catchtap="play_audio" data-word="{{value.sentenceEn}}">
              播放声音
              <image style="width:35rpx;height:35rpx" src="./laba.svg"></image>
            </view> -->
            {{value.sentenceEn}}

          </block>
          <block wx:if="{{questionList[shuffleIndex[index]].type==4}}">
            <!-- <view style="display:inline-block;margin-left: 10px; font-size: 40rpx;" catchtap="play_audio" data-word="{{value.sentenceEn}}">
              播放声音
              <image style="width:35rpx;height:35rpx" src="./laba.svg"></image>
            </view> -->
            {{value.sentenceZh}}
          </block>
          <block wx:if="{{questionList[shuffleIndex[index]].type==5}}">
            {{value.sentenceEn}}
          </block>

        </label>
      </block>
      <block wx:else>
        <label class="radio my-choosebox " wx:for="{{questionList[shuffleIndex[index]].option}}" wx:for-index="key" wx:for-item="value">
          <!-- style="transform:scale(0.8);" -->
          <radio  style="margin-left: 0;margin-right: 20rpx;" value="{{key}}" checked="{{history[index].ck==key}}"></radio>
          <block wx:if="{{questionList[shuffleIndex[index]].type==0}}">
            <view style="display:inline-block;margin-left: 10px; font-size: 40rpx;" catchtap="play_audio" data-word="{{value.sentenceEn}}">
              播放声音
              <image style="width:35rpx;height:35rpx" src="./laba.svg"></image>
            </view>
          </block>
          <block wx:if="{{questionList[shuffleIndex[index]].type==1}}">
            <view style="display:inline-block;margin-left: 10px; font-size: 40rpx;" catchtap="play_audio" data-word="{{value.sentenceEn}}">
              播放声音
              <image style="width:35rpx;height:35rpx" src="./laba.svg"></image>
            </view>
            <!-- {{value.sentenceEn}} -->
          </block>

          <block wx:if="{{questionList[shuffleIndex[index]].type==2}}">
            <!-- <view style="display:inline-block;margin-left: 10px; font-size: 40rpx;" catchtap="play_audio" data-word="{{value.sentenceEn}}">
              播放声音
              <image style="width:35rpx;height:35rpx" src="./laba.svg"></image>
            </view> -->
            {{value.sentenceEn}}
          </block>
          <block wx:if="{{questionList[shuffleIndex[index]].type==3}}">
            <!-- <view style="display:inline-block;margin-left: 10px; font-size: 40rpx;" catchtap="play_audio" data-word="{{value.sentenceEn}}">
              播放声音
              <image style="width:35rpx;height:35rpx" src="./laba.svg"></image>
            </view> -->
            {{value.sentenceEn}}
          </block>
          <block wx:if="{{questionList[shuffleIndex[index]].type==4}}">
            <!-- <view style="display:inline-block;margin-left: 10px; font-size: 40rpx;" catchtap="play_audio" data-word="{{value.sentenceEn}}">
              播放声音
              <image style="width:35rpx;height:35rpx" src="./laba.svg"></image>
            </view> -->
            {{value.sentenceZh}}
          </block>
          <block wx:if="{{questionList[shuffleIndex[index]].type==5}}">
            {{value.sentenceEn}}
          </block>
        </label>
      </block>
    </radio-group>
  </view>
  <!--按钮-->
  <view class='page_ft'>
    <view class='mybutton'>
      <view style="display:flex;">
        <button bindtap='nextSubmit' wx:if="{{index == questionList.length-1}}">提交</button>
        <button class="next_button" bindtap='nextSubmit' wx:else>下题</button>

      </view>
      <view wx:if="{{show_style}}" style="text-align:center;margin-top:20rpx"><text>{{second}}</text>s后自动跳转</view>
    </view>
  </view>
</view>