/* pages/test/test.wxss */

.input{
  border-radius:20rpx;
  height: 88rpx;
  text-align: center;
  font-size:30rpx;
  margin-bottom:40rpx;
  border:1rpx solid #288cff;
}

.page__title{
  height:300rpx;
  text-align: center;
  font-weight: bold;
  font-size:32rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page {
  padding: 30rpx;
  color: #333;
  background:#f3f5fa;
  min-height: 100vh;
}

.page__bd {
  padding: 40rpx;
}

.page__title {
  font-size: 32rpx;
  line-height: 80rpx;
}

radio {
  color: #288cff !important;
}

/* .next_button {
  background-image: url(https://636c-cloud1-3gabh4hed53a3bf0-1305998854.tcb.qcloud.la/%E7%AE%AD%E5%A4%B4_%E5%88%97%E8%A1%A8%E5%90%91%E5%8F%B3.png?sign=13cf8462641c205f33528fbfc082adf4&t=1622506714) !important;
  
}

.pre_button {
  background-image: url(https://636c-cloud1-3gabh4hed53a3bf0-1305998854.tcb.qcloud.la/%E7%AE%AD%E5%A4%B4_%E5%88%97%E8%A1%A8%E5%90%91%E5%B7%A6.png?sign=6675e328b45b6955caab9b40bb03b715&t=1622506700) !important;
 
} */

.my-choosebox {
  display: block;
  margin-bottom: 40rpx;
  font-size: 30rpx;
  width:550rpx;
}
.my-choosebox.red{
  color:red;
}
.my-choosebox.green{
  color:green;
}

.radio-group {}

.mybutton button {
  width: 200rpx;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50rpx;
  background-color: #288cff !important;
  /* background: red !important; */
  color: #fff !important;
  border: none !important;
  font-size: 30rpx !important;
}

.toindex-btn {
  margin-top: 20rpx;
  display: inline-block;
  line-height: 2.3;
  font-size: 13px;
  padding: 0 1.34em;
  color: #576b95;
  text-decoration: underline;
  float: right;
}