<view class="user-grade section-fixed">
  <view class="user-left">
    <view class="user-text">
      <text>我的排名</text>
    </view>
    <block wx:if="{{myrank == 1}}">
      <image class="user-jiang" src="https://636c-cloud1-7gva9b3w58c3dda0-1307253701.tcb.qcloud.la/jiang_1.png?sign=63455184c463cb73b01998d27862aa6e&t=1642176922"></image>
    </block>
    <block wx:elif="{{myrank == 2}}">
      <image class="user-jiang" src="https://636c-cloud1-7gva9b3w58c3dda0-1307253701.tcb.qcloud.la/jiang_2.png?sign=f79740a8bc7506e54f8640449cf71fd5&t=1642177043"></image>
    </block>
    <block wx:elif="{{myrank == 3}}">
      <image class="user-jiang" src="https://636c-cloud1-7gva9b3w58c3dda0-1307253701.tcb.qcloud.la/jiang_3.png?sign=cf6fe261bcca914cd3c20c9e86bfce24&t=1642177054"></image>
    </block>
    <block wx:elif="{{myrank == 0}}">
      <view class="user-mingcw">暂无排名</view>
    </block>
    <block wx:else>
      <view class="user-mingc">{{myrank}}</view>
    </block>
  </view>
  <view class="grade-center" style="width:330rpx ;">
    <image class="grade-img" style="margin: 25rpx 10rpx 25rpx 0rpx;" src="{{myurl}}"></image>
    <view class="grade-name">{{myname}}</view>
  </view>
  <view class="grade-right">

    <view class="grade-g" wx:if="{{userGrade.grade == '学神'&& userGrade.gradeX>=1}}">
      {{userGrade.grade}}
      <text></text>
      <text class="mr" style="color: #ffd700;">({{userGrade.gradeX}}★)</text>
      <text></text>
    </view>
    <view class="grade-g" wx:else>
      {{userGrade.grade}}
    </view>
    <!-- <view class="grade-g">
      {{userGrade.grade}}
    </view> -->
    <view class="grade-n">
      <view>积分</view>
      {{userGrade.gradeNum}}
    </view>
    <view class="grade-n" bindtap="goRecords">
      <view>答题</view>
     记录
    </view>
  </view>
</view>
<view style="margin-top: 190rpx;">
  <block wx:for="{{list}}" wx:for-index="key" wx:for-item="value">
    <view class="grade-main" wx:if="{{value.index == 1|| value.index == 2|| value.index == 3}}">
      <view class="grade-left">
        <block wx:if="{{value.index == 1}}">
          <image class="jiang" src="https://636c-cloud1-7gva9b3w58c3dda0-1307253701.tcb.qcloud.la/jiang_1.png?sign=63455184c463cb73b01998d27862aa6e&t=1642176922"></image>
        </block>
        <block wx:elif="{{value.index == 2}}">
          <image class="jiang" src="https://636c-cloud1-7gva9b3w58c3dda0-1307253701.tcb.qcloud.la/jiang_2.png?sign=f79740a8bc7506e54f8640449cf71fd5&t=1642177043"></image>
        </block>
        <block wx:elif="{{value.index == 3}}">
          <image class="jiang" src="https://636c-cloud1-7gva9b3w58c3dda0-1307253701.tcb.qcloud.la/jiang_3.png?sign=cf6fe261bcca914cd3c20c9e86bfce24&t=1642177054"></image>
        </block>
        <!-- <block wx:else>
        <view class="mingc">{{value.index}}</view>
      </block> -->
      </view>
      <view class="grade-center">
        <image class="grade-img" src="{{value.url}}"></image>
        <view class="grade-name">{{value.name}}</view>
      </view>
      <view class="grade-right">
        <view class="grade-g" wx:if="{{value.grade == '学神'&& value.gradeX>=1}}">
          <text>{{value.grade}}</text>
          <!-- <text></text> -->
          <text class="mr" style="color: #ffd700;">({{value.gradeX}}★)</text>
          <!-- <text></text> -->
        </view>
        <view class="grade-g" wx:else>
          {{value.grade}}
        </view>
        <view class="grade-n">
          <view>积分</view>
          {{value.gradeNum}}
        </view>
        <view class="grade-n" bindtap="goRecords">
          <view>答题</view>
          记录
        </view>
      </view>
    </view>
    <view class="grade-o-main" wx:else>
      <view class="grade-o-top"><text>排名：{{value.index}}</text></view>
      <view class="grade-o-bottom">
        <view class="grade-o-left">
          <image class="grade-o-img" src="{{value.url}}"></image>
          <view class="grade-o-name">{{value.name}}</view>
        </view>
        <view class="grade-o-right">
          <view class="grade-o-g" wx:if="{{value.grade == '学神'&& value.gradeX>=1}}">
            {{value.grade}}
            <text></text>
            <text style="color: #ffd700;">({{value.gradeX}}★)</text>
            <text></text>
          </view>
          <view class="grade-o-g" wx:else>
            {{value.grade}}
          </view>
          <view class="grade-o-n">
            <view>积分</view>
            {{value.gradeNum}}
          </view>
          <view class="grade-o-n" bindtap="goRecords">
            <view>答题</view>
          记录
          </view>
        </view>
      </view>
    </view>
  </block>
</view>