.page {
  padding: 30rpx;
  color: #333;
  background: #f3f5fa;
  min-height: 100vh;
}

.grade-o-main {
  display: flex;
  flex-wrap: wrap;
  width: 700rpx;
  height: 150rpx;
  margin-left: 25rpx;
  margin-top: 30rpx;
  border-radius: 15rpx;
  background-color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.grade-o-top {
  width: 700rpx;
  height: 40rpx;
  border-radius: 15rpx;
  background-color: #e9dccd;
  margin-bottom: 5rpx;
}

.grade-o-top text {
  margin-left: 30rpx;
  font-size: 26rpx;
  line-height: 40rpx;
}

.grade-o-bottom {
  width: 700rpx;
  display: flex;
  flex-wrap: wrap;
}

.grade-o-left {
  display: flex;
  flex-wrap: wrap;
  width: 440rpx;
  height: 100rpx;
}

.grade-o-img {
  display: flex;
  overflow: hidden;
  width: 100rpx;
  height: 100rpx;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin-left: 20rpx;
}

.grade-o-name {
  width: 300rpx;
  font-size: 30rpx;
  line-height: 100rpx;
  margin-left: 20rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grade-o-right {
  display: flex;
  flex-wrap: wrap;
  width: 260rpx;
  height: 150rpx;
}

.grade-o-g {
  font-size: 30rpx;
  line-height: 100rpx;
}

.grade-o-n {
  width: 80rpx;
  height: 80rpx;
  font-size: 26rpx;
  margin-top: 10rpx;
  margin-left: 10rpx;
  background-color: #bfd6f1;
  border-radius: 15%;
  color: #fff;
  text-align: center;
}

.section-fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.user-grade {
  display: flex;
  /* margin-left: 25rpx; */
  /* margin-top: 30rpx; */
  width: 750rpx;
  height: 150rpx;
  /* border-radius: 15rpx; */
  background-color: #fff;
  /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); */
}

.user-left {
  display: flex;
  width: 130rpx;
  height: 150rpx;
}

.user-text {
  text-align: center;
  width: 40rpx;
  margin-left: 10rpx;
  font-size: 26rpx;
  color: #fff;
  background-color: #bfd6f1;
}

.user-mingc {
  font-size: 30rpx;
  margin-left: 10rpx;
  line-height: 150rpx;
}
.mr{
  position: absolute;
  bottom: 10px;
  right: 0;
}
.user-mingcw {
  font-size: 30rpx;
  margin-top: 45rpx;
  margin-left: 10rpx;
}

.user-jiang {
  width: 80rpx;
  height: 80rpx;
  margin-top: 35rpx;
}

.mingc {
  /* font-size: 60rpx;
  margin-top: 45rpx;
  margin-left: 20rpx; */

  font-size: 45rpx;
  margin-left: 10rpx;
  /* text-align: center; */
  line-height: 150rpx;
}

.jiang {
  width: 80rpx;
  height: 80rpx;
  margin-top: 35rpx;
}

.grade-main {
  display: flex;
  margin-left: 25rpx;
  margin-top: 30rpx;
  width: 700rpx;
  height: 150rpx;
  border-radius: 15rpx;
  background-color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.grade-left {
  display: flex;
  width: 80rpx;
  height: 150rpx;
}

.grade-center {
  display: flex;
  width: 360rpx;
  height: 150rpx;
}

.grade-right {
  display: flex;
  width: 260rpx;
  height: 150rpx;
}

.grade-img {
  display: flex;
  overflow: hidden;
  width: 100rpx;
  height: 100rpx;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  margin: 25rpx 20rpx 25rpx 20rpx;
}

.grade-name {
  display: flex;
  width: 220rpx;
  font-size: 30rpx;
  line-height: 150rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* margin-top: 50rpx; */
}

.grade-g {
  font-size: 30rpx;
  margin-top: 52rpx;
  margin-left: 10rpx;
  position: relative;

}

.grade-n {
  width: 80rpx;
  height: 80rpx;
  font-size: 26rpx;
  margin-top: 35rpx;
  margin-left: 10rpx;
  background-color: #bfd6f1;
  border-radius: 15%;
  color: #fff;
  text-align: center;
}