<view class="ul">
  <view class="li" wx:for="{{list}}">
    <input type="text" class="{{item.id?'active':''}}" data-index="{{index}}" value="{{item.vcVocabulary}}" bindinput="input" bindtap="clear" bindblur="clear" ></input>
  </view>
  <view class="li" bindtap="add">
    新增
  </view>
</view>
<view class="box" wx:if="{{words.length}}">
  <view style="text-align: center;">请选择单词</view>
  <view class="ss" wx:for="{{words}}">
    <view class="s" bindtap="select" data-value="{{item}}">
      来自字典{{index}}：{{item.vcVocabulary}}
    </view>
  </view>
</view>

<view bindtap="go" hover-class="none" class="go">
  开始练习
</view>