<view wx:for="{{display}}" wx:for-item="list"> 
  <view class="gr">
    <view bindtap="select" data-index="{{index}}" class="select {{ choose[index]?'active':''}}">选择</view>

    <view class="title ">
      <view class="action">
        {{index+1}}
      </view>
    </view>

    <view class="content cu-list grid col-5 no-border">
    
      <view  bindtap="play_audio" data-_id=" {{item.id}}" data-vc_interpretation="{{item.vcInterpretation}}" data-word="{{item.vcVocabulary}}" data-type="1" class="cu-item" wx:for="{{list}}"  wx:if="{{index<5*2}}">
        <text>{{item.vcVocabulary}}</text>
      </view>
    </view>
  </view>
</view>



<view bindtap="go" hover-class="none" class="go">
  开始练习
</view>
<newModel show="{{modalShow}}" tapTitle="{{modelTapTitle}}" title="{{modelTitle}}" btns="{{['朗读','关闭']}}" binddidClickBtn="onClickModalBtn"></newModel>
